PORT=5050
CLIENT_URL=http://localhost:3000
DATABASE_URL=postgresql://user:password@localhost:5432/crm_db

JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=24h

ENABLE_SIGNUP=true

CP_API_BASE_URL=https://cp.chatterpillar.in/cp_api/public/cpapi
CP_API_KEY=your_chatterpillar_api_key
